body  {
    text-align: center;
    background-color: black;
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX4012119.jpg");
    background-repeat: repeat-x;
}

img{
    height: 300px;
}

h2{
    font-size: 60px;
    margin-bottom:0px;
}

p{
    font-size: 30px;
    margin-top: 0px;
}

.header {
    font-family: 'Monoton', cursive;
    font-size: 80px;
    color: #edba2f;
}

.bestMovieTitle {
    font-family: 'Dancing Script', cursive;
    color: pink;
}
    
.bestMovie {
    font-family: 'Dancing Script', cursive;
    color: pink;
}

.bestMovieParent{
    display:flex;
    justify-content: center;
}

.bestArtistTitle{
    font-family: 'Acme', cursive;
    color: #99ef7a;
}

.bestArtist{
    font-family: 'Acme', cursive;
    color: #99ef7a;
}

.bestArtistParent{
    display:flex;
    justify-content: center;
}
.bestGameTitle{
    font-family: 'Bungee', cursive;
    color: #5995f7;
}

.bestGame{
    font-family: 'Bungee', cursive;
    color: #5995f7;
}

.bestGameParent{
    display:flex;
    justify-content: center;
}
